/* this css file contains all styles that have class selectors*/

.container {
    max-width: 25rem; /* best for mobile view */
    margin: 0 auto;
    padding-top: 5rem;
    min-height: 100vh;
}

.title {
    font-family: var(--headerfont);
    color: var(--heading);
    text-align: center;
    margin-bottom: 1rem;
}

.min-max-temp {
    display: flex;
    justify-content: space-around;
    margin-top: 1rem;
}

.card {
    border: .1rem dashed var(--border);
    background-color: var(--cardBackground);
    padding: 1rem;
}

.fa-sun {
    text-align: center;
    color: #fdcc0a;
}
.fa-moon {
    text-align: center;
    color: #797777;
}
