/* this css file contains all styles that have class selectors*/

.container {
    max-width: 25rem; /* best for mobile view */
    margin: 0 auto;
    padding-top: 5rem;
    min-height: 100vh;
}

.title {
    font-family: var(--headerfont);
    color: var(--heading);
    text-align: center;
    margin-bottom: 1rem;
}

.fa-sun {
    color: #fdcc0a;
}

.fa-temperature-arrow-up {
    color: #fd0101;
}

.fa-temperature-arrow-down {
    color: #0116fd;
}

.fa-moon {
    color: #797777;
}

.fa-cloud {
    color: #797777;
}

.fa-droplet {
    color: #6ea6e0;
}
