:root {
    --headerfont: 'Rock Salt', Arial, sans-serif;
    --bodyfont: 'Poppins', Arial, sans-serif;
    --background: #232946;
    --mainBackground: #b8c1ec;
    --cardBackground: #eebbc3;
    --paragraph: #121629;
    --button: #eebbc3;
    --buttonText: #232946;
    --hover: #eebbc3;
    --border: #121629;
    --heading: #fffffe;
    --label: #b8c1ec;
    --icon: #eebbc3;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    min-height: 100%;
    font-family: var(--bodyfont);
    font-size: 18px;
    background-color: var(--background);
    color: var(--paragraph);
}

form {
    display: flex;
    justify-content: center;
}

input[type="text"] {
    font-size: 1rem;
    padding: .5rem;
    border: 1px dashed var(--paragraph);
    border-radius: 1rem;
    margin-right: .25rem;
}

button {
    cursor: pointer;
    font-family: var(--bodyfont);
    background-color: var(--background);
    padding: .5rem;
    border: .1rem dashed var(--label);
    border-radius: 4rem;
    color: var(--button);
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    color: var(--background);
    background-color: var(--button);
    border: .1rem dashed var(--background);
}

section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 2rem;
}

aside {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /*align-items: center;*/
    margin-top: 2rem;
}

footer {
    background-color: var(--background);
    color: var(--paragraph);
    font-size: 1rem;
    text-align: center;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
}