/* this css file contains all styles that have class selectors*/

.container {
    max-width: 25rem; /* the information displayed will not exceed 25rem, best for mobile view */
    margin: 0 auto;
    padding: 1rem;
    min-height: 100vh;
}

.title {
    font-family: var(--headerfont);
    color: var(--heading);
    text-align: center;
    margin-bottom: 1rem;
}
.weather-container {
    text-align: center;
    margin-top: 2rem;
}

.temp-info {
    font-size: 2rem;
    margin-top: 1rem;
}

.degree-symbol {
    font-size: 2rem;
}

.additional-info { /* this container class can be used for more additional info */
    display: flex;
    justify-content: space-around;
    margin-top: 2rem;
    border: solid .1rem var(--heading);
    border-radius: 1rem;
    padding: 1rem;
}
